* {
  margin: 0;
  padding: 0;
  border: none;
}

nav {
  border: 2px solid gray;
  background-color: gray;
}

body {
  background-color: lightgray;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  height: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container a {
  text-decoration: none;
  color: white;
}

.container img {
  width: 20%;
}

footer p {
  margin-bottom: 2em;
  text-align: center;
  color: white;
  font-size: 20px;
}

.container p {
  font-size: 16px;
}

.container h2 {
  font-size: 24px;
}

.box1 img {
  width: 80%;
}

.box7 div {
  display: flex;
  border: 4px solid white;
  border-radius: 5px;
  height: 35%;
  width: 70%;
  justify-content: center;
  margin: auto;
}

pre {
  margin-top: 1em;
  font-size: 19px;
}

.box7 .fa-search {
  margin-top: 5px;
  margin-right: 3px;
}

.box {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  padding: 10px 0 0 0;
  line-height: 150%;
}

.box1 {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
}

.box7 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  height: 1300px;
  background-color: rgb(128, 128, 128);
}

.container2 a {
  text-decoration: none;
  color: white;
}

.sub-model {
  width: 70%;
  height: 100%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 12em;
}

.sub-model .div-one {
  display: flex;
  align-items: center;
}

.sub-model figure {
  margin-left: 30px;
}

.sub-model .div-two {
  margin-top: 20px;
}

.sub-model p {
  font-size: 15px;
}

.chidi {
  width: 60px;
  border: 5px solid white;
  border-radius: 10px;
  transform: rotateZ(-15deg);
}

.chidi:hover {
  transform: rotateZ(0deg);
}

.div-two h2 {
  font-size: 40px;
}

.div-two small {
  font-size: medium;
}

.model {
  width: 50%;
  height: 50%;
}

.model1 {
  background-color: #646363;
}

.model2 {
  background-color: #7a7979;
}

.model3 {
  background-color: #525050;
}

.model4 {
  background-color: #646363;
}

.mini {
  background-color: white;
  width: 30%;
  margin: auto;
  height: 5%;
  margin-top: -79em;
  text-align: center;
  padding-top: 10px;
}

.mini p {
  font-size: 39px;
}

.mini1 {
  width: 40%;
  background-color: white;
  height: 35px;
  padding: 10px;
  margin: auto;
  margin-top: 0.8em;
  text-align: center;
}

.container3 {
  display: flex;
  position: relative;
  top: 0;
  padding: 10px;
  background-color: #d1cece;
  height: 800px;
}

.min {
  width: 33.333333%;
  background-color: transparent;
  height: 60%;
  display: flex;
  flex-direction: column;
  line-height: 2em;
  padding: 3%;
}

.min:hover {
  background-color: white;
}

.min .days {
  color: grey;
}

.min .honest {
  font-size: 24px;
  color: black;
  font-weight: 600;
}

.min .honest:hover {
  color: red;
}

.min .fred {
  font-size: 18px;
  color: darkolivegreen;
  font-weight: 600;
}

.handbook {
  height: 700px;
  width: 100%;
  background-color: rgb(80, 79, 79);
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.min .handbook {
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin-top: -2em;
  background-color: transparent;
}

.container4 {
  display: flex;
  background-color: lightgray;
  width: 100%;
  position: relative;
  top: 0;
  height: 700px;
}

.sm {
  margin: 40px;
  height: 85%;
}

.sm1 {
  width: 60%;
  margin-right: 15px;
  background-color: rgb(80, 79, 79);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  padding-right: 2em;
  padding-left: 2em;
  align-items: center;
  flex-direction: column;
}

.sm1 h2,
.box-model h2 {
  margin-top: 2em;
  font-weight: 600;
  font-size: 40px;
  color: white;
}

.explore {
  width: 200px;
  height: 40px;
  border-radius: 12px;
  background-color: white;
  margin-top: 2em;
}

.sm1 p,
.box-model p {
  margin-top: 2em;
  font-size: 20px;
  color: white;
  text-align: center;
}

.sm2 {
  background-color: transparent;
  width: 38%;
  margin-left: 0;
}

.circle {
  border-radius: 50%;
  width: 200px;
  background-color: white;
  height: 200px;
  margin-top: 2em;
  text-align: center;
}

.container5 {
  display: flex;
  position: relative;
  top: 0;
  height: 500px;
  background-color: #d1cece;
}

.words {
  width: 30%;
  margin: auto;
  height: 70%;
}

.words1 {
  background-color: transparent;
}

.words2 {
  background-color: transparent;
}

.words3 {
  background-color: transparent;
}

.empty {
  height: 700px;
  background-color: lightgrey;
  position: relative;
  top: 0;
}

.box-model {
  width: 95%;
  margin: auto;
  background-color: rgb(80, 79, 79);
  height: 80%;
  position: relative;
  top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.box-model p {
  width: 50%;
}

.link {
  text-align: center;
  border-bottom: 5px solid rgb(15, 15, 15);
  width: 20%;
  margin: auto;
}

.handbook h2 {
  font-size: 40px;
  width: 50%;
  text-align: center;
}

.practical {
  width: 50%;
  font-size: 24px;
  text-align: center;
  margin-top: 2em;
}

.rectangle {
  height: 50%;
  background-color: grey;
  width: 70%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.container6 {
  display: flex;
  margin-top: 2em;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2em;
}

.lady-p {
  width: 60%;
  margin-left: 3em;
  font-size: 20px;
  margin-top: 3.2em;
}

.empty-box {
  width: 250px;
  height: 250px;
  background-color: rgb(80, 79, 79);
  margin-left: 3em;
  border-radius: 12px;
  transform: rotateZ(-15deg);
}

.empty-box:hover {
  transform: rotateZ(0deg);
}

.container7 {
  display: flex;
  flex-wrap: wrap;
  height: 900px;
  margin-top: 5em;
}

.item {
  width: 49.8%;
  height: 300px;
  display: flex;
}

.item .div-one {
  margin-left: 3em;
  margin-top: 2em;
}

.item .sub-model {
  margin-top: 2em;
}

.item figure {
  margin-left: 0;
}

.item p {
  font-size: 20px;
  margin-top: 1em;
}

.container8 {
  margin-top: 3em;
}

.link,
.last-link {
  margin-top: 3em;
  margin-bottom: 4em;
}

.container8 .link {
  margin-bottom: 5em;
}

.container8 .sub-item {
  display: flex;
  height: 400px;
  padding: 0;
  background-color: rgb(80, 79, 79);
}

.container8 .sub-item .rec-box {
  background-color: rgb(34, 34, 34);
  width: 20em;
  height: 20em;
  margin-top: 3em;
  margin-right: 3em;
}

.container8 .box-model {
  width: 70%;
  border-radius: 0;
  padding-left: 3em;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 0;
}

.container8 .box-model p {
  text-align: left;
}

.container8 .box-model h2 {
  margin-top: 0;
}

.container9 {
  display: flex;
  top: 0;
  padding: 10px;
  background-color: whitesmoke;
  height: 700px;
}

footer ul {
  margin-left: 3em;
  display: flex;
  flex-wrap: wrap;
  font-size: 21px;
  color: white;
  justify-content: center;
}

footer ul li {
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
}

.container9 ul {
  margin-left: 2em;
  font-size: 20px;
}

.container9 li {
  margin-top: 0.6em;
}

.container10 {
  display: flex;
  background-color: lightgray;
  width: 100%;
  position: relative;
  top: 0;
  height: 700px;
}

footer {
  top: 5em;
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: gray;
}

footer .text {
  margin-top: 3em;
}

footer .text ul {
  list-style: none;
}

.f-link {
  color: blue;
}
