* {
    margin: 0;
    padding: 0;
    border: none;
  }  

.container{
    display:flex;
    flex-wrap:wrap;
    background-color:grey;
    height:140px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container a{
    text-decoration:none;
    color:white;
}

.container img {
    width: 20%;
}

.container p {
    font-size: 16px;
}

.container h2 {
    font-size: 24px;
}

.box1 img {
    width: 80%;
}

.box7 div {
    display: flex;
    border: 4px solid white;
    border-radius: 5px;
    height: 35%;
    width: 70%;
    justify-content: center;
    margin: auto;
}

.box7 p {
    font-size: 19px;
}

.box{
    color:white;
    font-size:20px;
    text-align:center;
    width:170px;
    margin-left:auto;
    margin-right:auto;
    height:120px;
    padding:10px 0 0 0;
    line-height: 150%;
}

.box1{
    background-color:blue;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
}

.box2{
    background-color: yellow;
}

.box3{
    background-color:red;
}

.box4{
    background-color:green;
}

.box5{
    background-color:purple;
}

.box6{
    background-color:orange;
}

.box7{
    text-align: center;
    background-color:cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
}

/* THIS IS FOR THE FIRST HEADER BOXES */

.container2 {
    display:flex;
    flex-wrap:wrap;
    height:1300px;
    background-color:rgb(128, 128, 128);
    /* margin-top:0.4px; */   
}

.container2 a{
    text-decoration:none;
    color:white;
}

.sub-model{
    width:70%;
    height:100%;
    margin-left: 40px;
    display:flex;
    flex-direction: column;
    margin-top:12em;
    /* margin-bottom: 3em; */
    /* background-color: tomato; */
}

.sub-model #div-one {
    display: flex;
    /* background-color: turquoise; */
    align-items: center;
    
}

.sub-model figcaption {
    margin-left: 30px;
    
}

.sub-model #div-two {
  margin-top: 20px;
}

.sub-model p {
  font-size: 15px;
}

#chidi{
  width: 60px;
  border: 5px solid white;
  border-radius: 10px;
  transform: rotateZ(-15deg);  
}

#chidi:hover {
    transform: rotateZ(0deg);  
}

#div-two h2 {
  font-size: 40px;
}

#div-two small {
    font-size: medium;
}

.model{
    width:50%;
    height:50%;
}

.model1{
    /* padding-top: 5em; */
    background-color: lightgray;
}

.model2{
    /* padding-top: 5em; */
    background-color:firebrick;
}

.model3{
    background-color: rosybrown;
}

.model4{
    background-color:tan;
}

.mini {
    background-color:white;
    width:30%;
    margin:auto;
    height:5%;
    margin-top:-79em;
    text-align:center;
    padding-top: 10px;
    text-align: center;
}

.mini p {
  font-size: 39px;
}

.mini1{
    width:40%;
    background-color:white;
    /* position:relative;
    top:1em;
    left:1em; */
    height:15px;
    padding:10px;
    margin:auto;
    margin-top:.8em;
    height:50%;
    text-align:center;
}

/* END OF THE SECOND BOX */



.container3 {
    display:flex;
    position:relative;
    top:0em;
    padding:10px;
    background-color:whitesmoke;
    height:800px;
}


.min{
    width:33.3333330%;
    background-color:transparent;
    height:60%;
    display:flex;
    flex-direction:column;
    line-height:2em;
    padding:3%;
}

.min:hover{
    background-color:white;
}

.min #days{
    color:grey;
}

.min #honest{
    font-size:24px;
    color:black;
    font-weight:600;
}

.min #honest:hover{
    color:red;
}

.min #fred{
    font-size:18px;
    color:darkolivegreen;
    font-weight:600;
}

.min #handbook{
    color:black;
    font-size:18px;
    text-decoration:none;
}

.container4{
    display:flex;
    background-color:lightgray;
    width:100%;
    position:relative;
    top:0em;
    height:700px;

}

.sm{
   margin:40px;
   height:85%;
   /* margin-left:11px; */
}

.sm1{
    width:60%;
    margin-right:15px;
    background-color:red;
    border:1px solid black;
    border-radius:10px;
}

.sm2{
    background-color:yellow;
    width:38%;
    margin-left:-0em;
}

footer {
    position:relative;
    top:40em;
}

.container5 {
    display:flex;
    position:relative;
    top:0em;
    height:500px;
    background-color:lightgrey;
}

.words{
    width:30%;
    margin:auto;
    height: 70%;
}

.words1{
    background-color:green;
}

.words2{
    background-color:fuchsia;
}

.words3{
    background-color:rosybrown;
}

.empty{
    height:700px;
    background-color:grey;
    position:relative;
    top:0em;
}

.box-model{
    width:95%;
    margin:auto;
    background-color:darkorange;
    height:80%;
    position:relative;
    top:3em;
    border:1px solid black;
    border-radius:10px;
}

